.navSection {
  background-color: var(--bg-color);
  position: fixed;
  display: flex;
  width: inherit;
}
.nav-toggle {
  display: none;
}
.nav-toggle * {
  display: none;
}
.navigation {
  background-color: var(--bg-color);
}

.cvbutton {
  width: fit-content;
}
.cvbutton a {
  border: 0;
  border-radius: 10px;
  background-color: var(--fg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-family: var(--banner-text);
  font-weight: 600;
  user-select: none;
}
.cvbutton a:visited {
  background-color: var(--fg-secondary);
  color: black;
}
.cvbutton a:active {
  background-color: var(--fg-secondary);
  color: black;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: whitesmoke;
  user-select: none;
  font-family: var(--banner-text);
}

.nav-link:hover {
  color: var(--fg-primary);
  border-bottom: 2px solid white;

  transition: color 400ms ease, border 200ms ease;
}
.nav-link.activeLink {
  color: var(--fg-primary);
  border-bottom: 2px solid white;
}
.sociallinks {
  display: flex;
  list-style: none;
}

.social-link {
  display: inline-block;
  width: inherit;
  height: inherit;
  color: whitesmoke;
}
.social-link:hover {
  color: var(--fg-primary);
}

@media screen and (max-width: 600px) {
  .navSection {
    z-index: 100;
    top: 0;
    left: 0;
    padding: 1.5em;
    justify-content: space-between;
  }
  .nav-toggle {
    display: inline-block;
    z-index: 300;
    padding: 0.5em;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  .hamburger {
    align-self: center;
    justify-self: flex-start;
    display: block;
    background-color: whitesmoke;
    width: 3.2em;
    height: 6px;
    position: relative;
    border-radius: 2em;
    transition: var(--hamrburger-button);
  }
  .hamburger::before,
  .hamburger::after {
    content: "";
    background-color: inherit;
    position: absolute;
    left: 0;
    right: 0;
    width: inherit;
    height: 6px;
    border-radius: 2em;
    transition: var(--hamrburger-button);
  }
  .hamburger::before {
    bottom: 12px;
  }
  .hamburger::after {
    top: 12px;
  }
  .pressed {
    background-color: var(--fg-primary);
    transform: translatex(-5px);
    transition: var(--hamrburger-button);
  }
  .pressed::after,
  .pressed::before {
    transform: translatex(10px);
    transition: var(--hamrburger-button);
  }
  .navigation {
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 100px;
    height: 90vh;
    width: 80vw;

    transition: 300ms ease;
    border-bottom-right-radius: 10px;
  }
  .hide {
    opacity: 0;
    background-color: transparent;
    height: 0px;
    width: 0px;
    transition: all 400ms ease;
  }
  .hide * {
    display: none;
  }
  .cvbutton a {
    padding: 1em 1.75em;
    font-size: 1.3rem;
  }
  .navbar-nav {
    z-index: 200;
    flex-direction: column;
    align-items: start;
    padding-top: 2em;
    padding-left: 2em;
    gap: 1em;
  }
  .nav-link {
    font-size: 1.25rem;
    font-weight: 900;
    padding-bottom: 2px;
  }

  .socials {
    position: absolute;
    bottom: 3em;
    left: 2em;
  }
  .sociallinks {
    align-items: center;
    gap: 50px;
    height: 100px;
    width: 60vw;
  }
  .social-item {
    height: 60px;
    width: 60px;
  }

  .blur {
    filter: blur(10px);
  }
  .disabled {
    pointer-events: none;
  }
}

@media screen and (min-width: 600px) {
  .navSection {
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
  }
  .navigation {
    flex: 1 0 60%;
    display: flex;
    padding-right: 1.5em;
    align-items: center;
    justify-content: space-between;
  }
  .cvbutton a {
    padding: 0.75em 1em;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .sociallinks {
    gap: 1em;
  }
  .social-item {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar-nav {
    gap: 1.5em;
  }
}

@media screen and (min-width: 1440px) {
  .navbar-nav {
    gap: 2em;
  }
}
