@import url(./Navigation/navigation.css);
@import url(./Banner/banner.css);
@import url(./Aboutme/aboutme.css);
@import url(./Aboutme/Skills/skills.css);
@import url(./Projects/project.css);
@import url(./ContactMe/contactme.css);
:root {
  --bg-color: #051622;
  --fg-secondary: #1ba098;
  --fg-primary: #deb992;

  /* font family */
  --body-heading: Verdana, Geneva, Tahoma, sans-serif;
  --banner-text: Helvetica, Arial Narrow;
  --body-text: sans-serif;

  /* Transitions */
  --hamrburger-button: transform 300ms ease;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  width: 100vw;
}
.app {
  background-color: var(--bg-color);
}

.sectionHeading {
  font-family: var(--body-heading);
  color: var(--fg-primary);
  border-bottom: 2px solid white;
}

footer {
  color: white;
  border-top: 2px solid white;
  font-family: var(--body-text);
}
footer a {
  text-decoration: none;
  color: var(--fg-primary);
}
footer a:visited {
  color: var(--fg-primary);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  footer {
    padding: 2em 0.5em;
  }
  footer a {
    font-size: 1.25em;
  }
  .app {
    width: 100%;
  }
  .sectionHeading {
    font-size: 2rem;
    margin-bottom: 1.2em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  footer {
    padding: 2em 0.5em;
  }
  footer a {
    font-size: 1.25em;
  }
  .app {
    width: 100%;
  }
  .sectionHeading {
    font-size: 2rem;
    margin-bottom: 0.75em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .app{
    margin: auto auto;
    width: 1160px;
  }
}
@media only screen and (min-width: 1440px) {
  .app{
    margin: auto auto;
    width: 1320px;
  }
}
