


















@media only screen and (max-width: 600px) {
  .skillscontainer {
    padding: 10px 30px;
  }
  /* heading  */
  .skillscontainer h2 {
    width: fit-content;
    font-family: var(--body-heading);
    color: var(--fg-primary);
    font-size: 1.5em;
    border-bottom: 2px solid white;
    margin-bottom: 15px;
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
  }
  .skill {
    font-family: var(--body-heading);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 0 1 30%;
  }
  .skillimagecontainer {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
  }
  .skillimage {
    width: 100%;
    height: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
