@media only screen and (max-width: 600px) {
  .aboutme {
    color: white;
    margin-bottom: 2em;
  }
  .personal-information {
    display: none;
  }
  .aboutmeintro {
    padding: 10px;
  }
  .aboutmeHeading {
    font-family: var(--body-heading);
    font-size: 2rem;
    color: var(--fg-primary);
    border-bottom: 2px solid white;
  }
  div[role="introduction"] {
    padding: 10px;
    padding-top: 30px;
  }
  div[role="introduction"] strong {
    color: var(--fg-secondary);
  }
  div[role="introduction"] p {
    font-family: var(--body-text);
    font-size: 1em;
    font-weight: 300;
    line-height: 1.25em;
    margin-bottom: 10px;
  }
  .para4::first-line {
    color: var(--fg-primary);
    font-size: 1.5em;
  }
  .buildtogether {
    font-size: 1em;
    line-height: 1.5em;
    text-decoration: none;
    border-bottom: 2px solid var(--fg-secondary);
    color: white;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
